<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}Devoured IT!{{else}}Keep It!{{/if}}
	</button>

	<button class="delete-devoured" data-id="{{this.id}}">DELETE!</button>
</li>
